<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
version="2.5">
<display-name>JSP Example Application</display-name>
<servlet id="jsp">
<servlet-name>uu</servlet-name>
<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
<init-param>
<param-name>logVerbosityLevel</param-name>
<param-value>DEBUG</param-value>
</init-param>
<init-param>
<param-name>fork</param-name>
<param-value>>false</param-value>
</init-param>
<init-param>
<param-name>keepgenerated</param-name>
<param-value>>true</param-value>
</init-param>
<load-on-startup>0</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>jsp</servlet-name>
<url-pattern>*.jsp</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>servlets.UpdateAccountServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/updateAccount</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>servlets.UpdatePasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>SaveUniServlet</servlet-name>
    <servlet-class>servlets.SaveUniServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SaveUniServlet</servlet-name>
    <url-pattern>/saveUni</url-pattern>
</servlet-mapping>
</web-app>